*{
    margin: 0;
    padding: 0;
    border: 0;

}

.main{
    width: 100%;
    height: 100vh;
    background-image: url(bg.jpg);
    background-size: 100%;
    display: flex;
}


h1{
    margin: 0 auto;
    text-align: center;
    width: 500px;
    height: 100px;
    background-color: snow;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login{
    display: flex;
    font-size: 20px;
    width: 500px;
    height: 400px;
    background-color: snow;
    margin: 0 auto;

}

.styl{
    display: flex;
    flex-direction: column;
    
}

.container-fluid{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a{
    text-decoration: none;
    font-size: 15px;
}

